<template>
  <div class="w-full flex flex-col items-center justify-center rounded h-full">
    <!-- <div class="text-6xl font-mono">{{timeRemaining.toFormat("mm:ss")}}</div> -->
    <div class="text-6xl font-mono">00:00</div>
    <button
      class="rounded px-2 py-1 border border-gray-600 uppercase hover:bg-gray-100"
      @click="reset"
    >reset</button>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { DateTime } from 'luxon'
export default {
  data() {
    return {
      startTime: 0,
      endTime: ''
    }
  },
  methods: {
    startTimer() {}
  }
}
</script>

<style scoped>
</style>