/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Roboto+Mono&family=Work+Sans&display=swap');
/* purgecss end ignore */
@import 'tailwindcss/utilities';
.tweakOpacity-enter-active,
.tweakOpacity-leave-active {
  transition: opacity 0.2s ease-out;
}
.tweakOpacity-enter,
.tweakOpacity-leave-active {
  opacity: 0;
}
