<template>
  <div class="app">
    <section
      class="flex px-2 w-full shadow-md z-10 text-4xl font-display font-light bg-red-600 text-white"
    >POMOTIME</section>
    <section class="flex flex-auto">
      <aside class="sidebar">
        <nuxt-link to="/" exact>
          <template v-slot="{isActive, navigate}">
            <div @click="navigate" :class="{'active':isActive}" class="side-nav">
              <ion-icon size="large" name="timer"></ion-icon>Timer
            </div>
          </template>
        </nuxt-link>
        <nuxt-link to="/settings" exact>
          <template v-slot="{isActive, navigate}">
            <div @click="navigate" :class="{'active':isActive}" class="side-nav">
              <ion-icon size="large" name="cog"></ion-icon>Settings
            </div>
          </template>
        </nuxt-link>
      </aside>
      <div class="flex-grow shadow">
        <nuxt />
      </div>
    </section>
    <nav class="bottom-nav">
      <nuxt-link to="/" exact>
        <template v-slot="{isActive, navigate}">
          <div @click="navigate" :class="{'active':isActive}" class="nav-tab">
            <ion-icon size="large" name="timer"></ion-icon>Timer
          </div>
        </template>
      </nuxt-link>
      <nuxt-link to="/settings" exact>
        <template v-slot="{isActive, navigate}">
          <div @click="navigate" :class="{'active':isActive}" class="nav-tab">
            <ion-icon size="large" name="cog"></ion-icon>Settings
          </div>
        </template>
      </nuxt-link>
    </nav>
  </div>
</template>

<style lang="scss">
.sidebar {
  @apply hidden flex-col;
  @screen sm {
    @apply flex;
  }
}
.app {
  @apply relative h-screen flex flex-col;
  @screen sm {
    @apply rounded-lg shadow;
    // height: 700px;
  }
}
.bottom-nav {
  @apply bg-white z-10 flex items-center absolute bottom-0 w-full;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  @screen sm {
    display: none;
  }
}

.side-nav {
  @apply cursor-pointer font-body transition-all duration-75 ease-in flex flex-col px-2 py-3 items-center;
  &:hover {
    @apply bg-gray-200;
  }
}

.nav-tab {
  @apply cursor-pointer font-body text-base transition-all duration-75 ease-in p-2 flex flex-col flex-auto items-center justify-center;
  &:hover {
    @apply bg-gray-200;
  }
}
.active {
  @apply text-red-700;
  &:hover {
    @apply bg-red-200;
  }
}
</style>