<template>
  <div class="flex flex-auto flex-col items-center">
    <div class="w-full">
      <keep-alive>
        <timer></timer>
      </keep-alive>
    </div>
  </div>
</template>

<script>
import Timer from '~/components/Timer.vue'

export default {
  transition: 'tweakOpacity',
  components: {
    Timer
  }
}
</script>

<style lang="scss">
</style>