<template>
  <div class="flex space-x-4">
    <div>settings</div>
    <a href="https://gitlab.com/Twitch0125/pomotime" target="blank">
      <ion-icon name="logo-gitlab"></ion-icon>Gitlab!
    </a>
  </div>
</template>

<script>
export default {
  transition: 'tweakOpacity'
}
</script>

<style scoped>
</style>